<div class="chat-main-top">
  <div class="header-left">
    <div class= "chat-main-left">
      <%= @room.name%>
    </div>
  </div>
  <div class="header-right">
    <div class= "chat-main-right">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete%>
    </div>
  </div>
</div>

<div class="chat-main-center">
  <%= render partial: 'message', collection: @messages %>
</div>

<div class="chat-main-bottom">
    <div class= "bottom-form">
    <%= form_with model: [@room, @message], html: {class: "bottom-form"}, local: true do |f|%>
      <%= f.text_field :content, class: 'chat-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
      <%= f.submit '送信', class: 'send-btn' %>
<% end %>